<!DOCTYPE html>

<html>
	<head>
		<meta charset=utf-8>
		{% block scripts %}
			<!-- D3js -->
			<script type="text/javascript" src="/static/lib/d3/d3.js"></script>
			<!-- C3js -->
			<script type="text/javascript" src="/static/lib/c3/c3.js"></script>
			<!-- Array transpose -->
			<script type="text/javascript" src="/static/scripts/transpose.js"></script>
			<!-- My own javascript -->
			<script type="text/javascript" src="/static/scripts/main.js"></script>
		{% endblock %}

		{% block styles %}
			<!-- pretty font -->
			<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
			<!-- Normalize-css -->
			<link type="text/css" rel="stylesheet" href="/static/lib/normalize-css/normalize.css" />
			<!-- C3js' chart CSS -->
			<link type="text/css" rel="stylesheet" href="/static/lib/c3/c3.min.css" />
			<!-- My styles -->
			<link type="text/css" rel="stylesheet" href="/static/styles/main.css" />
		{% endblock %}
	</head>

	<body>
		<header>

		</header>

		<main id="main">
			{% block main %}
				Hello, world!
			{% endblock %}
		</main>

		<footer>

		</footer>
	</body>
</html>
