* {
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

header, footer {
	background-color: #000;
	height: 2em;
	width: 100%;
	position: fixed;
}

header {
	top: 0;
}

footer {
	bottom: 0;
}

main {
	height: 100%;
	margin: 4em;
}
